---
import Input from "./Input.astro";
import PrimaryContactButton from "./PrimaryContactButton.astro";
import TextArea from "./TextArea.astro";
---

<form
  id="contact-form"
  class="flex flex-col gap-4 w-full max-w-screen-sm self-end px-10 md:px-0"
>
  <Input id="name" inputName="name" label="Nombres" />
  <Input id="email" inputName="email" label="Correo" />
  <Input id="phone" inputName="phone" label="Teléfono" />
  <TextArea id="message" inputName="message" label="Mensaje" />
  <PrimaryContactButton title="ENVIAR" />
</form>

<script>
  document
    .getElementById("contact-form")
    ?.addEventListener("submit", async (event) => {
      event.preventDefault();

      const form = event.target as HTMLFormElement;

      if (!form.checkValidity()) {
        alert("Please fill out all required fields.");
        return;
      }

      const formData = new FormData(form);

      const name = formData.get("name");
      const email = formData.get("email");
      const phone = formData.get("phone");
      const message = formData.get("message");

      console.log(formData);

      try {
        const response = await fetch("/api/sendEmail.json", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            from: "CLIENTE POTENCIAL WEB REYPAMIN <ventas@reypamin.pe>",
            to: [
              "administracion@reypamin.pe",
              "ventas@reypamin.pe",
              "victorgamarra1@gmail.com",
            ],
            subject: "CLIENTE POTENCIAL WEB!",
            text: `Nombre: ${name}\nEmail: ${email}\nTeléfono: ${phone}\nMensaje: ${message}`,
          }),
        });

        if (response.ok) {
          alert("¡Formulario enviado exitosamente!");
          form.reset();
        } else {
          alert("Error al enviar el formulario. Por favor, intenta de nuevo.");
        }
      } catch (error) {
        console.error("Error:", error);
        alert("Error al enviar el formulario. Por favor, intenta de nuevo.");
      }
    });
</script>
