---
import bgImage from "@images/bg-contact.webp";
---

<div class="relative flex flex-col w-full text-primary-blue">
  <img
    class="size-full object-cover absolute -z-10"
    src={bgImage.src}
    alt="Sobre Nosotros Fondo"
  />
  <div class="bg-white bg opacity-20 size-full absolute">

  </div>
  <div class="container max-w-4xl w-full mx-auto z-10 mt-44">
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
    <p>sdadsadsad</p>
  </div>
</div>
