---
import bgItem1 from "@images/bg-item-1.webp";
import bgItem2 from "@images/bg-item-2.webp";
import solutionsImg from "@images/home-solutions.webp";
import productsImg from "@images/home-products.webp";
---

<section class="flex justify-center bg-light-blue w-full relative">
  <div class="container max-w-4xl mx-auto items-center py-14 flex flex-col">
    <h2
      class="w-full text-pretty font-extrabold text-4xl text-center italic text-primary-blue mb-36 fade-up"
    >
      ¡Impulsa tu éxito con productos de calidad y soluciones innovadoras!
    </h2>
  </div>
  <img class="absolute z-10 left-0 bottom-0 w-1/2" src={bgItem2.src} alt="Bg Item 2" />
  <img class="absolute z-10 h-full right-0" src={bgItem1.src} alt="Bg Item 1" />
  <div class="absolute flex container max-w-5xl gap-8 z-20 -bottom-44">
    <div
      class="flex flex-col w-1/2 h-fit hover-effect-1 cursor-pointer fade-left relative"
    >
      <img
        class="object-cover size-full"
        src={solutionsImg.src}
        alt="Solutions"
      />
      <!-- <div class="size-full bg-primary-red bg-opacity-30 absolute fade-left">
      </div> -->
      <div class="flex gap-2 bg-primary-red px-10 font-bold items-center justify-center py-3 bottom-0 right-0 mb-10 absolute text-white fade-up">
        <p>Nuestras Soluciones de Ingeniería</p>
        <svg
          width="20"
          height="16"
          viewBox="0 0 20 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0023 0.5H7.5L13.503 6.49924H0V9.50076H13.503L7.5 15.5H12.0023L19.5023 8L12.0023 0.5Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
    <div
      class="flex flex-col w-1/2 h-fit hover-effect-1 cursor-pointer fade-right relative"
    >
      <img
        class="object-cover size-full"
        src={productsImg.src}
        alt="Products"
      />
      <!-- <div class="size-full bg-primary-red bg-opacity-30 absolute fade-left">
      </div> -->
      <div class="flex gap-2 bg-primary-red px-10 font-bold items-center justify-center py-3 bottom-0 right-0 mb-10 absolute text-white fade-up">
        <p>Equipos y Repuestos industriales</p>
        <svg
          width="20"
          height="16"
          viewBox="0 0 20 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0023 0.5H7.5L13.503 6.49924H0V9.50076H13.503L7.5 15.5H12.0023L19.5023 8L12.0023 0.5Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
