---
import bgStatistics from "@images/bg-statistics.webp";
import ItemStatistics from "./ItemStatistics.astro";
---

<section class="flex w-full relative">
  <img
    class="object-cover size-full absolute -z-0 fade-right"
    src={bgStatistics.src}
    alt="Fondo Estadísticos"
  />
  <div
    class="absolute size-full inset-0 flex items-center justify-center bg-black bg-opacity-60 z-0 fade-left"
  >
  </div>
  <div class="flex items-center md:items-start flex-col md:flex-row justify-center container mx-auto z-0 text-white py-16 gap-10 md:gap-40">
    <ItemStatistics title="+5000" description="Productos Vendidos a Nivel Nacional" />
    <ItemStatistics title="+100" description="Clientes Satisfechos con Nuestro Trabajo" />
  </div>
</section>
