---
import Header from "src/common/Header.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
import bgProductsHeader from "@images/bg-products-header.webp";

---

<BaseLayout title="Contacto | Reypamin">
    <Header currentPage="productos" />
    <div class="w-full">
        <div class="flex relative h-[450px]">
            <img
                src={bgProductsHeader.src}
                alt="Productos"
                class="w-full h-full object-cover"
            />
            <div
                class="absolute pt-[110px] h-full inset-0 flex items-center justify-center bg-black bg-opacity-70 z-30"
            >
                <h1 class="text-white text-4xl font-extrabold">Productos</h1>
            </div>
        </div>
    </div>
</BaseLayout>
