* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color de fondo de la pista */
}

::-webkit-scrollbar-thumb {
  /* background: #8F99AF; */
  background: #E51E37;
  border-radius: 10px;
  /* Border radius de la barra */
}

::-webkit-scrollbar-thumb:hover {
  background: #fc556b;
  /* Color de la barra cuando se pasa el mouse */
}

img {
  user-select: none;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}