---
import PrimaryButton from "@/common/PrimaryButton.astro";
import bgHero from "@images/bg-hero.webp";
---

<div class="flex flex-col h-[100vh] max-h-[900px] w-full relative">
  <img class="size-full object-cover" src={bgHero.src} alt="Hero Section" />
  <div
    class="absolute pt-[110px] h-full inset-0 flex items-center justify-center bg-black bg-opacity-70 z-30 fade-left"
  >
    <div
      class="container max-w-6xl mx-auto flex flex-col justify-start gap-6 text-white"
    >
      <h1
        class="text-white text-6xl font-extrabold w-full max-w-2xl leading-tight fade-up delay-1000"
      >
        !Soluciones Especializadas para optimizar tus procesos industriales!
      </h1>
      <h2 class="text-xl w-full max-w-3xl text-pretty fade-up delay-1000">
        Impulsamos la eficiencia y la mejora continua con soluciones
        tecnológicas avanzadas.
      </h2>

      <div class="flex fade-up delay-1000">
        <PrimaryButton title="EXPLORAR SOLUCIONES" />
      </div>
    </div>
  </div>
</div>
