---
import bgFooter from "@images/bg-footer.svg";
import logo from "@images/logo.svg";
---

<footer
    class="w-full flex flex-col text-white bg-primary-blue -z-20 relative overflow-hidden"
>
    <div class="container grid grid-cols-8 w-full mx-auto py-8">
        <div class="grid col-span-2 gap-2">
            <img src={logo.src} alt="Footer logo" />
            <p class="text-sm">
                Expertos en soluciones industriales, mineras y de construcción,
                comprometidos con la calidad y la innovación
            </p>
        </div>
        <div class="col-span-4"></div>
        <div class="flex flex-col col-span-1">
            <p class="font-bold">Teléfonos</p>
            <p>+51 922 297 479</p>
            <p>+51 968 028 591</p>
        </div>
        <div class="flex flex-col col-span-1 gap-2">
            <div class="flex flex-col">
                <p class="font-bold">Correos</p>
                <p>+51 922 297 479</p>
                <p>+51 968 028 591</p>
            </div>
            <div class="flex flex-col">
                <p class="font-bold">Correos:</p>
                <p>+51 922 297 479</p>
                <p>+51 968 028 591</p>
            </div>
        </div>
    </div>
    <div class="flex container flex-col mx-auto">
        <hr class="w-full border-secondary-blue border border-opacity-50" />
        <p class="py-2 text-center">© 2024 REYPAMIN E.I.R.L.</p>
    </div>
    <img class="h-full self-center absolute -z-10" src={bgFooter.src} alt="Footer Image" />
</footer>
