---
import logo from "@images/logo.svg";
import PrimaryButton from "./PrimaryButton.astro";
import '../../public/styles/animations.css';

interface Props {
    currentPage: string;
}
const { currentPage } = Astro.props;
---

<header class="flex w-full absolute z-50 py-5">
    <div class="flex items-center container mx-auto justify-between">
        <img src={logo.src} alt="Reypamin Logo" class="h-[70px] fade-up" />
        <div class="flex text-white fade-up">
            <ul class="flex gap-10 items-center">
                <li class="flex items-center font-semibold hover-effect-3">
                    <a href="/">Inicio</a>
                </li>
                <li class="flex items-center font-semibold hover-effect-3">
                    <a href="/soluciones">Soluciones</a>
                </li>
                <li class="flex items-center font-semibold hover-effect-3">
                    <a href="/productos">Productos</a>
                </li>
                <li class="flex items-center font-semibold hover-effect-3">
                    <a href="/contacto">Contacto</a>
                </li>
                <li class="flex items-center drop-shadow-md">
                    <PrimaryButton title="¡HABLEMOS YA!" />
                </li>
            </ul>
        </div>
    </div>
    <style>
        .active {
            transform: translateX(-50%) scale(1);
        }
    </style>
</header>
