---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<button class="bg-primary-red rounded-md px-6 py-3 text-white btn btn-effect-1">
    <p class="font-extrabold text-sm">{title}</p>
</button>

<style>

.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
.btn-effect-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 0.25rem;
  z-index: -1;
  @apply bg-primary-blue
}

.btn-effect-1:hover {
  color: #f3f3f3;
}

.btn-effect-1:hover::before {
  width: 100%;
}

.btn-effect-14 span {
  position: relative;
  transition: 0.5s;
}
.btn-effect-14 span i {
  position: absolute;
  right: -1.5rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.btn-effect-14:hover span {
  padding-right: 1.5rem;
}

.btn-effect-14:hover i {
  right: 0;
  opacity: 1;
}

</style>
